.container {
    position: relative;
    background-color: rgba(10, 102, 194, 0.3);
    width: 17.9vw;
    height: 6.7vw;
    margin-left: 8.6vw;
    padding: 1.2vw;
    border-radius: 1.3vw;
}

.contentOne {

}

.contentLogo {

}

.iconLinkedin {

}

.contentBtn {

}

.btn {

}

.contentTwo {

}

.title {

}

.profile {

}

.sub {

}