.container {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 2vw;
}

.title {
    font-size: 3vw;
    font-weight: 700;
    padding-left: 0.3vw;
    padding-top: 2vw;
}

.poste {
    font-size: 1.5vw;
    font-weight: 400;
    color: #565656;
    padding-left: 0.3vw;
    margin-top: 0.8vw;
    padding-top: 1.2vw;
}

.resume {
    font-size: 1.5vw;
    font-weight: 400;
    color: #565656;
    padding-left: 0.3vw;
    padding-top: 1.2vw;
}