.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-top: 10vh;
}

.contentPicture {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
}

.picture {
    position: relative;
    width: 184px;
    border-radius: 100%;
    aspect-ratio: 1/1;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.contentTitle {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 3.5vh;
    padding-left: 1vh;
    align-items: center;
}

.title {
    font-size: 44px;
    font-weight: 700;
}

.contentSubTitle {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 1vh;
    padding-left: 1vh;
    align-items: center;
}

.subTitle {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgba(85, 85, 85, 1);
}

.contentText {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 2vh;
    padding-left: 1vh;
    line-height: 1.75rem;
    align-items: center;
}

.text {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgba(85, 85, 85, 1);
}