.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 8%;
}

.contentTitleOne {
    position: relative;
    display: flex;
    width: 100%;
    padding-left: 2vh;
}

.titleOne {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.rowOne {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 4vh;
    gap: 5vh;
}

.contentBoxOne {
    position: relative;
    display: flex;
    width: 390px;
    min-width: 340px;
    height: 125px;
    padding: 1.5rem;
    border-radius: 24px;
    background-color: rgba(17, 102, 194, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 1px 2px;
    transition: 0.4s; 
    cursor: pointer;
}

.contentBoxOne:hover {
    background-color: rgba(17, 102, 194, 0.15);
    transition: 0.5s; 
}

.contentBoxOne:active {
    background-color: rgba(17, 102, 194, 0.25);
    transform: scale(98%);
    transition: 0.5s; 
}

.contentBoxOneRowOne {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.contentIconLinkedin {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1166C2;
    padding: 5px;
    border-radius: 10px;
}

.iconLinkedin {
    width: 30px;
    height: 30px;
    color: white;
}

.contentBtnLinkedin {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #1166C2;
    border-radius: 30px;
    cursor: pointer;
}

.contentBtnLinkedin:hover {
    background-color: #0A4C8F;
}

.btnLinkedin {
    color: white;
    font-weight: 700;
    font-size: 0.75rem;
}

.contentBoxTwo {
    position: relative;
    display: flex;
    width: 390px;
    min-width: 340px;
    height: 125px;
    padding: 1.5rem;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 3px, rgba(0, 0, 0, 0.15) 0px 1px 2px;
}